<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <form action="/madlibs">
        <input type="text">
        <label for="">Enter a person</label>

        <input type="text">
        <label for="">Enter a color</label>

        <input type="text">
        <label for="">Enter an adjective</label>

        <input type="text">
        <label for="">Enter a noun</label>
    </form>
</body>
</html>